<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129434743373-bpih57gt6228ev726ai34vn8vlodjstn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129434743373-bpih57gt6228ev726ai34vn8vlodjstn</string>
	<key>API_KEY</key>
	<string>AIzaSyAEh0Qz-A_TmpUgx70WKSaYVe-FPAjcgcs</string>
	<key>GCM_SENDER_ID</key>
	<string>129434743373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danebra.OnCampus</string>
	<key>PROJECT_ID</key>
	<string>oncampus-1581787637500</string>
	<key>STORAGE_BUCKET</key>
	<string>oncampus-1581787637500.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129434743373:ios:eb4274db1d452fe3fea204</string>
	<key>DATABASE_URL</key>
	<string>https://oncampus-1581787637500.firebaseio.com</string>
</dict>
</plist>
